

header {
    height: 80px;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #696969;
    border-bottom: 1px solid #2e2e2e;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo h2 {
    font-size: 26px;
}

.logo span {
    color: #1a2c91;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: #2c2c2c;
    font-size: 30px;
    transition: 0.3s;
}

nav a:hover {
    color: #1a2c91;
}